@page "/categorias"


<h1>Categorias</h1>

<div>
    <a class="btn btn-success" href="categorias/novo">Adicionar Categoria</a>
</div>
<br />

<div style="display:flex">
    <input type="text"
           class="form-control mb-2 mr-sm-2"
           style="width:300px"
           placeholder="Filtrar pelo nome"
           @bind="nomeFiltro">
    <button type="submit" class="btn btn-primary mb-2 m-1" @onclick="Filtrar">Filtrar</button>
    <button type="submit" class="btn btn-danger mb-2 m-1" @onclick="LimparFiltro">Limpar</button>
</div>
<br />


@if (categorias == null)
{
    <p><em>Loading...</em></p>
}
else if (categorias.Count == 0)
{
    <p><em>Não existe categorias cadastradas.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categoria in categorias)
            {
                <tr>
                    <td>@categoria.Nome</td>
                    <td>@categoria.Descricao</td>
                    <td>
                        <a class="btn btn-primary"
                           @onclick="@(() => _navigation!.NavigateTo($"categorias/editar/{categoria.Id}"))">
                            Editar
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-danger"
                           @onclick="@(() => ConfirmarExcluisaoTarefa(categoria.Id))">
                            Excluir
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

}
<Confirma @ref="confirmaExclusao"
          onCancela="@CancelaExclusao"
          onConfirma="@ConfirmaExclusao">
    <div>
        <p>Confirma a exclusão da categoria?</p>
    </div>

</Confirma>

<hr />
<Paginacao QuantidadeTotalPaginas="QuantidadeTotalPaginas"
           paginaAtual="paginaAtual"
           Raio="2"
           PaginaSelecionada="PaginaSelecionada">

</Paginacao>
